{% extends 'client/navbar.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout text-center">

        <h5>Browse subscription plans</h5>

        <hr>

        <a class="btn btn-info" type="button" href="{% url 'subscription-plans' %}"> <i class="fa fa-angle-right"
                aria-hidden="true"></i>
            &nbsp; View subscription plans</a>

    </div>


    {% endblock %}
</body>


</html>