{% extends 'client/navbar.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <br>
    <div class="container bg-light shadow-md p-5 form-layout text-center">

        <h5>Subscription plans</h5>

    </div>

    <br>
    <div class="row">
        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5>Standard Subscription</h5>
            <hr>

            <p>Join us for standard access here: </p>

            <strong>(Limited article access)</strong>

            <hr>

            <div id="paypal-button-container-P-5UT79485E39960225M5YJQEA"></div>


            <!-- Client ID -->
            <script
                src="https://www.paypal.com/sdk/js?client-id=Af2NgzrsNBpZWrq9DFCxQX7LtY7w3uuGzHaHk9dVKEwUUbK2eKCrZJTq0WErhu9RYXFAE5e6Be4m8Vzj&vault=true&intent=subscription"
                data-sdk-integration-source="button-factory"></script>
            <script>
                paypal.Buttons({
                    style: {
                        shape: 'pill',
                        color: 'blue',
                        layout: 'vertical',
                        label: 'subscribe'
                    },
                    createSubscription: function (data, actions) {
                        return actions.subscription.create({
                            /* Creates the subscription */
                            plan_id: 'P-5UT79485E39960225M5YJQEA'
                        });
                    },
                    onApprove: function (data, actions) {

                        const current_url = '/client/create-subscription/' + data.subscriptionID + '/Standard';

                        window.open(current_url, '_self');

                    }
                }).render('#paypal-button-container-P-5UT79485E39960225M5YJQEA'); // Renders the PayPal button
            </script>



        </div>

        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5>Premium Subscription</h5>
            <hr>

            <p>Join us for premium access here: </p>

            <strong>(All article access)</strong>

            <hr>

            <!-- PREMIUM PLAN LOGIC (PAYPAL) -->
            <div id="paypal-button-container-P-9ST26449M6579211PM5YJRFI"></div>

            <script>
                paypal.Buttons({
                    style: {
                        shape: 'pill',
                        color: 'gold',
                        layout: 'vertical',
                        label: 'subscribe'
                    },
                    createSubscription: function (data, actions) {
                        return actions.subscription.create({
                            /* Creates the subscription */
                            plan_id: 'P-9ST26449M6579211PM5YJRFI'
                        });
                    },
                    onApprove: function (data, actions) {

                        const current_url = '/client/create-subscription/' + data.subscriptionID + '/Premium';

                        window.open(current_url, '_self');
                    }

                }).render('#paypal-button-container-P-9ST26449M6579211PM5YJRFI'); // Renders the PayPal button

            </script>

        </div>


    </div>

    <br>


</body>

{% endblock %}

</html>