{% extends 'software_engineer/navbar.html' %}

{% block content %}

<br>

{% for article in AllArticles %}

<div class="container bg-white shadow-md p-5 form-layout">

    <h3>{{ article.title }}</h3>
    {{ article.content }}

    <br><br>

    {{ article.date_posted }}

    <br><br>

    <a href="{% url 'update-article' article.id %}" class="btn btn-info" style="border-radius: 7px;">Update Article</a>


    <a href="{% url 'delete-article' article.id %}" class="btn btn-danger"
        style="float: right; border-radius: 7px;">Delete Article</a>

</div>

<br>





{% endfor %}

{% endblock %}