<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">

    <title>Loyaldogtech | Software Engineer</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

        <a class="navbar-brand main-heading">

            &nbsp; Loyaldogtech

        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">


            <ul class="navbar-nav ml-auto">


                <li class="nav-item">

                    <a class="btn btn-secondary navbar-btn" type="button"
                        href="{% url 'software_engineer-dashboard' %}">Dashboard</a>

                </li>

                <li class="nav-item">

                    <a class="btn btn-secondary navbar-btn" type="button" href="{% url 'create-article' %}">Create
                        article</a>

                </li>

                <li class="nav-item">


                    <a class="btn btn-secondary navbar-btn" type="button" href="{% url '' %}">My articles</a>

                </li>

                <li class="nav-item">

                    <a class="btn btn-secondary navbar-btn" type="button" href="{% url '' %}">Account management</a>

                </li>

                <li class="nav-item">

                    <a class="btn btn-secondary navbar-btn" type="button" href="{% url 'user_logout' %}">Logout</a>

                </li>

            </ul>


        </div>


    </nav>

    {% block content %}
    {% endblock content %}

</body>

</html>