{% extends 'software_engineer/navbar.html' %}
{% load crispy_forms_tags %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update-article</title>
</head>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Update Article</h3>
        <p>You may update your article below:</p>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ UpdateArticleForm|crispy }}
            <input type="submit" value="Update Article" class="btn btn-info" />
        </form>
    </div>
    <br>

    {% endblock %}
</body>


</html>